body {
    font-family: 'Montserrat', sans-serif;
}

.App {
    background: #e7e7e7;
}

.bg-yellow-meli {
    background: #ffdb15;
}

.link-product {
    color: #000;
    text-decoration: none;
}

.link-product:hover {
    color: #000;
    text-decoration: none;
}

.img-container {
    height: 15rem;
}

.img-product-card {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.deal-of-the-day {
    background: #3483fa;
}

.free-shipping {
    color: #00a650;
    font-weight: bold;
    font-size: 0.8rem;
}





.buttons-footer {
    color: #212529;
    font-size: 1.5rem;
    /* font-weight: 600; */
}