body {
    font-family: 'Montserrat', sans-serif;
}


.App {
    background: #e7e7e7;
}
/* 
.bg-primary-meli {
    background: #e7e7e7;
} */

.bg-yellow-meli {
    background: #fff159;
}

.text-blue-meli {
    color: #002f6d;
}

.home-logo {
    cursor: pointer;
}

.logo-meli{
    font-size: 1.5rem;
    color: white;
    background: #ffe600;
    border-radius: 50%;
    border: 2px solid #002f6d;
    border-bottom: 6px solid #002f6d;
    padding: 0.5rem 1.5rem;
    -webkit-text-stroke: 1.5px #002f6d;
}

.button-search-bar {
    background: #fff;
    border: 1px solid #e7e7e7;
}

.name-user {
    text-decoration: none !important;
    color: #212529 !important;
}

.links-nav-bar > a {
    text-decoration: none;
    color: #212529;
}

.button-shopping-cart {
    color: #212529;
}


.filters-names {
    cursor: pointer;
    border: 0;
}

.link-product {
    color: #000;
    text-decoration: none;
}

.link-product:hover {
    color: #000;
    text-decoration: none;
}

.img-container {
    height: 15rem;
}

.img-transition {
    opacity: 0;
    position: absolute;
    transition: .9s;
    background: #fff;
    z-index: 1;
}

.img-transition:hover {
    opacity: 1;
} 


.img-product-card {
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.deal-of-the-day {
    background: #3483fa;
}

.free-shipping {
    color: #00a650;
    font-weight: bold;
    font-size: 0.8rem;
}

.name-product-card {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #333;
    font-weight: 300;
    letter-spacing: .2px;
}

.img-product-shopping-cart {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.text-footer {
    color: #212529;
}

.logo-user {
    font-size: 4rem;
}

.buttons-footer {
    color: #212529;
    font-size: 1.5rem;
    /* font-weight: 600; */
}